body    {
    background-color: hsl(0, 0%, 95%);
    font-family: ms sans, sans sherif, calibri;
    font-size: 10pt;
    font-weight: bold;
    }

div {
    max-width: 40%;
    height: 710px;
    min-width: 20%;
    margin-top: 15px;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-color: rgb(116, 115, 115);
    border-radius: 0.75%;
    border: 0.1em;
    border-color: hsl(0, 0%, 48%, 50%);
    border-style: groove;
    background-color:hsl(0, 0%, 100%)
}

h1  {
    text-align: center;
}

p   {
    font-size: small;
    text-align: center;
}

a    {
    color:  rgba(8, 43, 17);
    text-decoration: none;
    font-weight: lighter;
}

a.forgotpassword    {
    text-align: right;
    padding-left: 10px;
}

input   {
width: 93%;
padding-top: 10px; 
padding-left: 10px; 
padding-bottom: 10px;
margin-bottom: 20px;
border-color:  rgba(8, 43, 17, 0.11);
border-radius: 4px;
}

.default {
border-color: hsla(135, 70%, 10%);
}

button  {
    width: 100%;
    height: 40px;
    padding-top: 10px; padding-left: 10px; padding-bottom: 10px;
    margin-bottom: 10px;
    border-color:  rgba(8, 43, 17, 0.11);
    border-radius: 4px;
    font-size: 8pt;
}

.submit {
    background-color:   rgba(8, 43, 17);
    margin-bottom: 20px;
    color: white;
    text-align: center;
    }

    input#rememberme.checkbox   {
        margin-inline: 0px;
        padding-top: 0px;
        padding-inline: 0px;
        width: 14px;
        vertical-align: text-top;
    }

    button.google   {

    }